/*=============================================================================================================================================================*/
.w-list {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    overflow: auto;
}

/*=============================================================================================================================================================*/
.w-dialog {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 250px;
    min-height: 40px;
    overflow: hidden;
    border-radius: 8px;
    border: solid 1.5px #c9c9c9dd;
    box-shadow: 0 0 30px 6px #3333332a;
    outline: none;
    display: flex;
    flex-direction: column;

    .title {
        background-color: #f3f3f3;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        user-select: none;
        -webkit-user-select: none;

        .text {
            width: 100%;
            padding: 2px;
            padding-bottom: 5px;
            padding-left: 5px;
        }

        .icon {
            width: 25px;
            height: 25px;
            padding-top: 3px;
            padding-bottom: 5px;
            padding-left: 5px;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        background-color: #f8f8f8;
    }
}

.w-dialog::backdrop {
    background-color: #ffffff0f;
}

/*=============================================================================================================================================================*/
.w-window-flags {
    display: flex;
    flex-direction: row;
    align-items: center;

    .material-icons {
        transition: all 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-size: 18px;
    }

    .min:hover {
        background-color: #e3e3e3dc;
    }

    .restore:hover {
        background-color: #e3e3e3dc;
    }

    .close:hover {
        color: #fff;
        background-color: red;
    }
}

/*=============================================================================================================================================================*/
.w-fieldset {
    .legend {
        user-select: none;
        -webkit-user-select: none;
        margin-left: 5px;
    }
}

/*=============================================================================================================================================================*/
.w-stacked {
    *[w-view] {
        display: none;
    }

    .select {
        width: 100%;
        height: 100%;
        display: block;
    }
}

/*=============================================================================================================================================================*/
.w-tab {
    *[w-bar] {
        user-select: none;
        -webkit-user-select: none;
        display: flex;
        flex-direction: row;
        background-color: #f9f9f9;

        *[w-item] {
            border: solid 1.5px #00000000;
            padding-left: 8px;
            padding-right: 8px;
            display: flex;
            align-items: center;

            .icon {
                width: 18px;
                height: 18px;
            }

            .text {
                padding-left: 4px;
                padding-right: 4px;
            }

            .delete-btn {
                border-radius: 4px;
                width: 18px;
                height: 18px;
                transition: all 0.1s;
            }

            .delete-btn.hide {
                opacity: 0;
            }

            .delete-btn:hover {
                color: #fff;
                background-color: #333;
            }
        }

        *[w-item].select {
            border-bottom: solid 1.5px #333;
            background-color: #00000010;

            .delete-btn.hide {
                opacity: 1;
            }
        }

        *[w-item][disabled] {
            color: #6a6a6a;
            filter: grayscale(100%);
            background-color: #d2d2d2;

            .delete-btn.hide {
                opacity: .5;
            }
        }

        *[w-item][disabled]:hover {
            .delete-btn.hide {
                opacity: .5;
            }
        }

        *[w-item]:hover {
            .delete-btn.hide {
                opacity: 1;
            }
        }
    }

    *[w-content] {
        border: solid 1.5px #333;

        *[w-view] {
            display: none;
        }

        *[w-view].select {
            display: block;
        }
    }
}

/*=============================================================================================================================================================*/


.w-center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-layout-horizontal {
    display: flex;
    flex-direction: row;
}

.w-layout-vertical {
    display: flex;
    flex-direction: column;
}

.w-resize-none {
    resize: none;
}

.w-resize-both {
    resize: both;
}

.w-resize-horizontal {
    resize: horizontal;
}

.w-resize-vertical {
    resize: vertical;
}

.w-pointer-events-none {
    pointer-events: none;
}

.w-pointer-events-auto {
    pointer-events: auto;
}

.w-column-reverse {
    flex-direction: column-reverse;
}

.w-row-reverse {
    flex-direction: row-reverse;
}

.w-column-direction {
    flex-direction: column;
}

.w-row-direction {
    flex-direction: row;
}